extends layout

block content
  p= content
  - if(user)
    a.btn.btn-primary.mb-3(href='/md/root', style='color: #fff') Enter
  textarea(id='md-textarea')= introduction
  script(src='/javascripts/easymde.min.js')
  script(type='text/javascript').
    var easyMDE = new EasyMDE({ 
      element: document.getElementById('md-textarea'),
      status: false,
      toolbar: false,
      spellChecker: false,
    });
    easyMDE.codemirror.setOption('readOnly', true);
    easyMDE.togglePreview();
    $(function() {
      $('.CodeMirror')[0].style.height = $('.editor-preview-full')[0].scrollHeight.toString() + 'px';
    })