body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-collapse {
  /* display: flex; */
  flex-direction: row-reverse;
}

/* a {
  color: #00B7FF;
} */

#content {
  padding: 50px 20% 50px 20%;
}

.hidden{
  display:none;   
}

/* There's a weird bug where li's in ul's have bottom margin. */
.editor-preview li p {
  margin: 0 0 0 0;
}

blockquote {
  margin: 16px 0;
  font-size: inherit;
  padding: 0 15px;
  color: #5c5c5c;
  border-left: 4px solid #d6d6d6
}

.fade-in {
  animation: fadeInAnimation linear 1s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  }
} 

/* 
  For mobile niceness...
*/
@media only screen and (max-width: 600px) {
  #content {
    padding: 20px;
  }
}